.article {
  margin: 0 30px;
}

.form {
  width: 100%;
  margin: 0 30px;
}

.inputComment,
.inputComment:focus {
  width: 90%;
  height: 40px;
  border: 1px solid #007bff;
  border-radius: 8px;
  outline: none;
}

@media (min-width: 700px) {
  .form {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .article {
    margin: 30px 250px;
  }
}

.spinner {
  margin-top: 50px;
  margin-left: 50%;
}
